.gallery {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.box {
  flex-basis: 32%;
  width: 100%;
}

html,
body[a="light"],
main {
  background: #ffe789;
}

.w {
  max-width: 800px;
}

.test {
  -webkit-animation: squiggly-anim 0.34s linear infinite;
  animation: squiggly-anim 0.34s linear infinite;
}

.test {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  outline: none;
  text-align: center;
  line-height: 1;
}

.grand-titre {
  padding: 10px;
  font-family: "uglyqua";
  color: #ffffff;
  background-color: #000000;
  font-size: 3rem;
  line-height: 5rem;
}

@-webkit-keyframes squiggly-anim {
  0% {
    filter: url("#squiggly-0");
  }

  25% {
    filter: url("#squiggly-1");
  }

  50% {
    filter: url("#squiggly-2");
  }

  75% {
    filter: url("#squiggly-3");
  }

  100% {
    filter: url("#squiggly-4");
  }
}

@keyframes squiggly-anim {
  0% {
    filter: url("#squiggly-0");
  }

  25% {
    filter: url("#squiggly-1");
  }

  50% {
    filter: url("#squiggly-2");
  }

  75% {
    filter: url("#squiggly-3");
  }

  100% {
    filter: url("#squiggly-4");
  }
}

.hidden {
  height: 0;
}


.l-menu a {
  background-color: #000000;
  font-family: "uglyqua";
  color: #ffffff !important;
  font-size: 1rem;
  padding: 10px;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 5px;

}

.menu {
  margin-top: 35px;
}

body[a="light"] :target {
  background: none;
}

a {
  text-decoration: underline;
}